{% extends "base_front.html" %}

<!-- titre -->
{% block title %}BetLudo{% endblock %}

<!-- meta -->
{% block meta-description %}"Gagnez de l'argent en interagissant efficacement avec du contenu publicitaire de qualité sur Benepub. Inscrivez-vous dès maintenant pour profiter de nos campagnes publicitaires efficaces !"{% endblock %}

{% block meta-og-title %}"BetLudo"{% endblock %}
{% block meta-og-url %}"{{ request.scheme }}://{{ request.META.HTTP_HOST }}"{% endblock %}
{% block meta-og-image %} "https://www.benepub.com{{ costum_parallax }}" {% endblock %}
{% block meta-og-description %} "Gagnez de l'argent en interagissant efficacement avec du contenu publicitaire de qualité sur Benepub. Inscrivez-vous dès maintenant pour profiter de nos campagnes publicitaires efficaces !"{% endblock %}

<!-- load static -->
{% load static %}
<!---->
{% load socialaccount %}
{% load humanize %}
<!-- MainContent -->

    {% block tournaments %}
    <section class="tournaments">
        <div class="overlay pt-120 pb-120">
            <div class="container cus-mar">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="lottery-content">
                            <div class="section-text text-center">
                                <h5 class="sub-title">Joue ta meilleure partie</h5>
                                <h2 class="title">Parties de Ludo</h2>
                                <p>Joue dans une partie multi-joueurs ou en un contre un pour raffler les récompenses !</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-none">
                    <div class="col-lg-12 nav-head mb-40 gap-4 d-flex align-items-center justify-content-between">
                        <div class="input-field">
                            <select>
                                <option value="1">Upcoming</option>
                                <option value="2">Upcoming 1</option>
                                <option value="3">Upcoming 2</option>
                                <option value="4">Upcoming 3</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <select>
                                <option value="1">Select Team Size</option>
                                <option value="2">1</option>
                                <option value="3">2</option>
                                <option value="4">3</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <select>
                                <option value="1">Select Entry Fee</option>
                                <option value="2">1</option>
                                <option value="3">2</option>
                                <option value="4">3</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <div class="input-area d-flex align-items-center">
                                <img src="{% static 'front/images/icon/search-icon-2.png' %}" alt="icon">
                                <input type="text" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
                
                {% for partie in liste_parties %}
                <div class="single-box">
                    <div class="row">
                        <div class="col-lg-8">
                        {% if partie.nombre_participants == 2 %}
                            <img src="{% static 'front/images/betludo-1-1.png' %}" alt="image">
                        {% endif %}
                        {% if partie.nombre_participants == 3 %}
                            <img src="{% static 'front/images/betludo-3-opponents.png' %}" alt="image">
                        {% endif %}
                        {% if partie.nombre_participants == 4 %}
                            <img src="{% static 'front/images/betludo-4-opponents.png' %}" alt="image">
                        {% endif %}
                        </div>
                        <div class="col-lg-4">
                            <div class="single-content">
                                <h5>{% if partie.nombre_participants > 2 %} {{ partie.nombre_participants }} joueurs {% else %} 1 contre 1 {% endif %}</h5>
                                  <div class="count-area mt-4 mb-4 text-center">
                                    <h6>Mise / Joueur : {{ partie.montant_mise|floatformat:-2|intcomma }} FCFA</h6>
                                    <div class="countdown mt-2 d-flex align-items-center justify-content-center d-none">
                                        <h6>
                                            <span class="days">00</span><span class="ref">D :</span>
                                        </h6>
                                        <h6>
                                            <span class="hours">00</span><span class="ref">H :</span>
                                        </h6>
                                        <h6>
                                            <span class="minutes">00</span><span class="ref">M :</span>
                                        </h6>
                                        <h6>
                                            <span class="seconds">00</span><span class="ref">S</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="prize-pool">
                                    <p class="mdr">Gains :</p>
                                    <h5>{{ partie.montant_cagnotte|floatformat:-2|intcomma }} {{ config.currency|default:"FCFA" }}</h5>
                                </div>
                                <div class="btn-area mt-4">
                                    <a href="{% if user.is_authenticated %}#{% else %}{% provider_login_url 'facebook' %}?next={{request.path}}&code_invitation={{code_invitation|default:''}}&process=login{% endif %}" 
                                    class="cmn-btn mise jeu-action" data-bs-toggle="modal" data-bs-target="#loginMod"
                                    data-partie="{{partie.code}}" data-mise={{partie.montant_mise|floatformat:-2}} 
                                    data-nombre_participants="{{ partie.nombre_participants }}" data-gain={{partie.montant_cagnotte|floatformat:-2}}
                                    data-solde="{{solde|floatformat:-2|intcomma}}" data-currency="{{ config.currency|default:'FCFA' }}"
                                    data-minimum_depot="{{ config.minimum_depot|default:100}}">Jouer</a>
                                </div>
                                <div class="abs-area">
                                    <img src="{% static 'front/images/tournament-illus.png' %}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <button onclick="requestNotificationPermission()" class="d-none">Activer les notifications</button>
                <button onclick="sendNotification()" class="d-none">Envoyer une notification</button>

            </div>
        </div>
    </section>
    {% endblock %}

<!--  -->
    <!-- javascript -->
    {% block script %}
    <!-- parent -->
        {{ block.super }}
        <!-- perso lié a l'interaction  -->
        <script>
            $(document).ready(function() {
                const separateur = "";

                // choix de jeu public
                $(document).on("click", ".jeu-action", function(e) {
                    // alert("here");
                    // console.log($(this)); // Utilisation correcte de $(this) pour faire référence à l'élément cliqué
                    let partie = $(this).data('partie');
                    let mise = Number(String($(this).data('mise')).replace(/\s/g, ''));
                    let nombre_participants = $(this).data('nombre_participants');
                    let gain = Number(String($(this).data('gain')).replace(/\s/g, ''));
                    let solde = Number(String($(this).data('solde')).replace(/\s/g, ''));
                    let currency = $(this).data('currency');
                    let difference_solde_mise = solde - mise;
                    let minimum_depot = Number(String($(this).data('minimum_depot')).replace(/\s/g, ''));
                    let base_url_participer_partie = $('#participer-partie-input-url').val();

                    // remplissons le modal
                    $("#mise-input").val(numStr(mise, separateur));    
                    $("#mise-mise").html(numStr(mise, separateur));    
                    $("#mise-nombre_participants").html(nombre_participants);    
                    $("#mise-gain").html(numStr(gain, separateur));    
                    $("#mise-debit").html(numStr(mise, separateur));    
                    $("#mise-solde").html(numStr(solde, separateur));  

                    if(difference_solde_mise >= 0){
                        $(".mise-solde-bon").show();
                        $(".mise-solde-mauvais").hide();
                        $("#participer-partie-button").attr("href", base_url_participer_partie.replace("complement_url_leurre", String(Date.now())).replace("complement_url_code", partie).replace(/\s/g, ''));
                    }  
                    else{
                        $(".mise-solde-bon").hide();
                        $(".mise-solde-mauvais").show();
                        //$('#recharge-input').attr('data-difference_solde_mise', Math.abs(difference_solde_mise));
                        //$('#recharge-input').attr('data-minimum_depot', minimum_depot);
                        //$("#recharge-input").val(multipleSuperieur(Math.abs(difference_solde_mise), minimum_depot));  
                        $('#recharge-input').remove();
                        $('#recharge-input-container').append('<input id="recharge-input" type="text" class="money_field" value ="' + Math.abs(difference_solde_mise) + '" data-difference_solde_mise="' + Math.abs(difference_solde_mise) + '" data-minimum_depot="' + minimum_depot + '">');
                        $("#participer-partie-button").attr("href", "javascript:void(0)");
                        applyMoneyFieldMask();
                    }

                });

                // selection partie privee
                $(document).on("change", "#choix_partie_privee", function(e) {
                    // alert("here");
                    // console.log($(this)); // Utilisation correcte de $(this) pour faire référence à l'élément cliqué
                    // let partie = $(this).data('partie');
                   // console.log($(".nice-select>ul>li.selected").data('value'));
                    if($(this).find(":selected").val() != ""){
                        let choix_partie_privee_data = $(".nice-select>ul>li.selected").data('value').split(';');
                        let mise = Number(String(choix_partie_privee_data[0]).replace(/\s/g, ''));
                        let nombre_participants = choix_partie_privee_data[1];
                        let gain = Number(String(choix_partie_privee_data[2]).replace(/\s/g, ''));
                        let solde = Number(String(choix_partie_privee_data[3]).replace(/\s/g, ''));
                        // let currency = $(this).data('currency');
                        let difference_solde_mise = solde - mise;
                        let minimum_depot = Number(String(choix_partie_privee_data[4]).replace(/\s/g, ''));
                        let base_url_participer_partie = $('#creer-partie_privee-input-url').val();
                        
                        // remplissons le modal
                        $("#choix_partie_privee-input").val(numStr(mise, separateur));    
                        $("#choix_partie_privee-mise").html(numStr(mise, separateur));    
                        $("#choix_partie_privee-nombre_participants").html(nombre_participants);    
                        $("#choix_partie_privee-gain").html(numStr(gain, separateur));    
                        $("#choix_partie_privee-debit").html(numStr(mise, separateur));    
                        $("#choix_partie_privee-solde").html(numStr(solde, separateur));  
                        
                        // faisons des tours des passe passe cacher / afficher
                        // partie rejoindre partie privee
                        $('#code_partie_privee').val("");
                        $('.rejoindre_partie_privee-solde-bon').removeClass("d-none");
                        $(".rejoindre_partie_privee-solde-bon").hide();
                        $('.rejoindre_partie_privee-solde-bon').removeClass("d-none");
                        $(".rejoindre_partie_privee-solde-bon").hide();
                        $('.rejoindre_partie_privee-solde-mauvais').removeClass("d-none");
                        $(".rejoindre_partie_privee-solde-mauvais").hide();
                        $('.rejoindre_partie_privee-resume').removeClass("d-none");
                        $(".rejoindre_partie_privee-resume").hide();
                        // partie creer partie privee
                        $('.choix_partie_privee-resume').removeClass("d-none");
                        $(".choix_partie_privee-resume").show();
                        
                        if(difference_solde_mise >= 0){
                            $(".choix_partie_privee-solde-bon").show();
                            $(".choix_partie_privee-solde-mauvais").hide();
                            /* a voir */ $("#creer_partie_privee-btn-creer").attr("href", base_url_participer_partie.replace("complement_url_nombre", String(nombre_participants)).replace("complement_url_leurre", String(Date.now())).replace("complement_url_mise", String(mise)).replace(/\s/g, ''));
                        }  
                        else{
                            $(".choix_partie_privee-solde-bon").hide();
                            $(".choix_partie_privee-solde-mauvais").show();
                            $("#creer_partie_privee-btn-creer").attr("href", "javascript:void(0)");
                            //$('#recharge-input').attr('data-difference_solde_mise', Math.abs(difference_solde_mise));
                            //$('#recharge-input').attr('data-minimum_depot', minimum_depot);
                            //$("#recharge-input").val(multipleSuperieur(Math.abs(difference_solde_mise), minimum_depot));  
                            $('#recharge-input').remove();
                            $('#recharge-input-container').append('<input id="recharge-input" type="text" class="money_field" value ="' + Math.abs(difference_solde_mise) + '" data-difference_solde_mise="' + Math.abs(difference_solde_mise) + '" data-minimum_depot="' + minimum_depot + '">');
                            $("#recharge-button").attr("href", $("#recharge-input-url").val().replace("complement_url_recharge", String(Math.abs(difference_solde_mise)).replace(/\s/g, '')));
                            applyMoneyFieldMask();
                        }
                    }
                    else{
                        $(".choix_partie_privee-resume").hide();
                        /* a voir */ $("#participer-partie-button").attr("href", "javascript:void(0)");
                    }

                });

                // selection partie privee
                $(document).on("keyup", "#code_partie_privee", function(e) {
                    // alert("here");
                    // console.log($(this)); // Utilisation correcte de $(this) pour faire référence à l'élément cliqué
                    // let partie = $(this).data('partie');
                    // faisons le menage et donnons toute la place au code
                    //let code_partie_privee_valeur = $('#code_partie_privee').val();
                    // $("#choix_partie_privee").val('');
                    $('#choix_partie_privee').prop('selectedIndex',0).trigger( "change" );
                    $(".nice-select>ul>li").removeClass("selected");
                    $(".nice-select>ul>li").removeClass("focus");
                    $(".nice-select>.current").html($('#choix_partie_privee').find("option[value='']").text());
                    $('.rejoindre_partie_privee-resume').removeClass("d-none");
                    $(".rejoindre_partie_privee-resume").hide();
                    $('.choix_partie_privee-resume').removeClass("d-none");
                    $(".choix_partie_privee-resume").hide();
                    $('.rejoindre_partie_privee-solde-mauvais').removeClass("d-none");
                    $(".rejoindre_partie_privee-solde-mauvais").hide();
                    $('.rejoindre_partie_privee-solde-bon').removeClass("d-none");
                    $('.rejoindre_partie_privee-code-erreur').removeClass("d-none");
                    $(".rejoindre_partie_privee-code-erreur").hide();
                    $("#rejoindre_partie_privee-btn-rejoindre").attr("href", "javascript:void(0)")
                    if($("#code_partie_privee").val() != ''){
                        $(".rejoindre_partie_privee-solde-bon").show();
                    }
                    else{
                        $(".rejoindre_partie_privee-solde-bon").hide();
                    }
                });

                // valide code partie privee
                $(document).on("click", "#rejoindre_partie_privee-btn-rejoindre", function(e) {
                    // alert("here");
                    // console.log($(this)); // Utilisation correcte de $(this) pour faire référence à l'élément cliqué
                    // let partie = $(this).data('partie');

                    let code_partie_privee = $("#code_partie_privee").val();

                    $.ajax({
                        url: '{% url 'api_get_partie_privee_via_by_code' %}',  // URL vers laquelle vous envoyez la requête
                        type: 'GET',                // Méthode de la requête (POST ici)
                        data: {                      // Les données envoyées au serveur
                            code_partie_privee: code_partie_privee
                        },
                        dataType: 'json',            // Type de réponse attendue du serveur (JSON)
                        success: function(response) { // Si la requête réussit
                            console.log(response);
                            if (Object.keys(response).length > 0) {  // Vérifier si le serveur a renvoyé un succès
                                //let partie = response.partie;
                                let mise = Number(String(response.mise).replace(/\s/g, ''));
                                let nombre_participants = response.nombre_participants;
                                let gain = Number(String(response.gain).replace(/\s/g, ''));
                                let solde = Number(String(response.solde).replace(/\s/g, ''));
                                // let currency = $(this).data('currency');
                                let difference_solde_mise = solde - mise;
                                let minimum_depot = Number(String(response.minimum_depot).replace(/\s/g, ''));
                                let base_url_participer_partie = $('#rejoindre-partie_privee-input-url').val();
                                
                                // remplissons le modal
                                $("#rejoindre_partie_privee-input").val(numStr(mise, separateur));    
                                $("#rejoindre_partie_privee-mise").html(numStr(mise, separateur));    
                                $("#rejoindre_partie_privee-nombre_participants").html(nombre_participants);    
                                $("#rejoindre_partie_privee-gain").html(numStr(gain, separateur));    
                                $("#rejoindre_partie_privee-debit").html(numStr(mise, separateur));    
                                $("#rejoindre_partie_privee-solde").html(numStr(solde, separateur));  
                                
                                // faisons des tours des passe passe cacher / afficher
                                $(".rejoindre_partie_privee-code-erreur").hide();
                                $('.rejoindre_partie_privee-resume').removeClass("d-none");
                                $(".rejoindre_partie_privee-resume").show();

                                if(difference_solde_mise >= 0){
                                    $(".rejoindre_partie_privee-solde-bon").show();
                                    $(".rejoindre_partie_privee-solde-mauvais").hide();
                                    $("#rejoindre_partie_privee-btn-rejoindre").attr("href", base_url_participer_partie.replace("complement_url_leurre", String(Date.now())).replace("complement_url_code", code_partie_privee).replace(/\s/g, ''));
                                }  
                                else{
                                    $(".rejoindre_partie_privee-solde-bon").hide();
                                    $(".rejoindre_partie_privee-solde-mauvais").show();
                                    //$('#recharge-input').attr('data-difference_solde_mise', Math.abs(difference_solde_mise));
                                    //$('#recharge-input').attr('data-minimum_depot', minimum_depot);
                                    //$("#recharge-input").val(multipleSuperieur(Math.abs(difference_solde_mise), minimum_depot));  
                                    $('#recharge-input').remove();
                                    $('#recharge-input-container').append('<input id="recharge-input" type="text" class="money_field" value ="' + Math.abs(difference_solde_mise) + '" data-difference_solde_mise="' + Math.abs(difference_solde_mise) + '" data-minimum_depot="' + minimum_depot + '">');
                                    $("#recharge-button").attr("href", $("#recharge-input-url").val().replace("complement_url_recharge", String(Math.abs(difference_solde_mise)).replace(/\s/g, '')));
                                    applyMoneyFieldMask();
                                }
                                
                            } else {
                                $(".rejoindre_partie_privee-solde-bon").hide();
                                $(".rejoindre_partie_privee-solde-mauvais").hide();
                                $(".rejoindre_partie_privee-resume").hide();
                                $(".rejoindre_partie_privee-code-erreur").html('Désolé, ce code ne correspond à aucune partie privée active !');
                                $(".rejoindre_partie_privee-code-erreur").show();
                            }
                        },
                        error: function(xhr, status, error) { // Si la requête échoue
                            console.error('Erreur lors de la requête:', error);
                            $(".rejoindre_partie_privee-solde-bon").show();
                            $(".rejoindre_partie_privee-solde-mauvais").hide();
                            $(".rejoindre_partie_privee-resume").hide();
                            $(".rejoindre_partie_privee-code-erreur").html('Une erreur s\'est produite. Veuillez réessayer.');
                            $(".rejoindre_partie_privee-code-erreur").show();
                        }
                    });
                    /*
                    console.log($(".nice-select>ul>li.selected").data('value'));
                    let choix_partie_privee_data = $(".nice-select>ul>li.selected").data('value').split(';');
                    if($(this).find(":selected").val() != ""){
                        let mise = Number(String(choix_partie_privee_data[0]).replace(/\s/g, ''));
                        let nombre_participants = choix_partie_privee_data[1];
                        let gain = Number(String(choix_partie_privee_data[2]).replace(/\s/g, ''));
                        let solde = Number(String(choix_partie_privee_data[3]).replace(/\s/g, ''));
                        // let currency = $(this).data('currency');
                        let difference_solde_mise = solde - mise;
                        let minimum_depot = Number(String(choix_partie_privee_data[4]).replace(/\s/g, ''));
                        
                        // remplissons le modal
                        $("#choix_partie_privee-input").val(numStr(mise, separateur));    
                        $("#choix_partie_privee-mise").html(numStr(mise, separateur));    
                        $("#choix_partie_privee-nombre_participants").html(nombre_participants);    
                        $("#choix_partie_privee-gain").html(numStr(gain, separateur));    
                        $("#choix_partie_privee-solde").html(numStr(solde, separateur));  
                        
                        // faisons des tours des passe passe cacher / afficher
                        $('#code_partie_privee').val("");
                        $('.rejoindre_partie_privee-resume').removeClass("d-none");
                        $(".rejoindre_partie_privee-resume").hide();
                        $('.choix_partie_privee-resume').removeClass("d-none");
                        $(".choix_partie_privee-resume").show();

                        if(difference_solde_mise >= 0){
                            $(".choix_partie_privee-solde-bon").show();
                            $(".choix_partie_privee-solde-mauvais").hide();
                        }  
                        else{
                            $(".choix_partie_privee-solde-bon").hide();
                            $(".choix_partie_privee-solde-mauvais").show();
                            //$('#recharge-input').attr('data-difference_solde_mise', Math.abs(difference_solde_mise));
                            //$('#recharge-input').attr('data-minimum_depot', minimum_depot);
                            //$("#recharge-input").val(multipleSuperieur(Math.abs(difference_solde_mise), minimum_depot));  
                            $('#recharge-input').remove();
                            $('#recharge-input-container').append('<input id="recharge-input" type="text" class="money_field" value ="' + Math.abs(difference_solde_mise) + '" data-difference_solde_mise="' + Math.abs(difference_solde_mise) + '" data-minimum_depot="' + minimum_depot + '">');
                            applyMoneyFieldMask();
                        }
                    }
                    else{
                        $(".choix_partie_privee-resume").hide();
                    }
                    */

                });

                // box rechargement 
                $(document).on("change keyup", "#recharge-input", function(e) {
                    // alert("here");
                    // console.log($(this)); // Utilisation correcte de $(this) pour faire référence à l'élément cliqué
                    valeur_input_recharge = Number(String($("#recharge-input").val()).replace(/\s/g, ''));
                    let difference_solde_mise = Number(String($("#recharge-input").data('difference_solde_mise')).replace(/\s/g, ''));
                    let minimum_depot = Number(String($("#recharge-input").data('minimum_depot')).replace(/\s/g, ''));
                    let base_url_recharge = $("#recharge-input-url").val();

                    $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
                    $("#recharge-button").show();

                    // remplissons le modal
                    if(valeur_input_recharge >= difference_solde_mise){
                        let check = multipleSuperieur(valeur_input_recharge, minimum_depot);
                        if(valeur_input_recharge != check){
                            if(e.handleObj.type == "change"){
                                $("#recharge-input").val(check);
                                $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
                            }
                            else{
                                $("#recharge-button").attr("href", "javascript:void(0)");
                                $("#recharge-button").hide();
                            }
                        }
                        else{
                            $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
                            $("#recharge-button").show();
                        }
                    }
                    else{
                        if(e.handleObj.type == "change"){
                            $("#recharge-input").val(multipleSuperieur(difference_solde_mise, minimum_depot));
                        }
                        else{
                            $("#recharge-button").attr("href", "javascript:void(0)");
                            $("#recharge-button").hide();
                        }
                    }
                });

                // partie privee selectionnee
                {% if rejoindre_partie_code %}
                    $("button[class='login privateChoice']").trigger("click");
                    //$("#code_partie_privee").val({{rejoindre_partie_code}});
                    $("#code_partie_privee").trigger("keyup");
                    $("#rejoindre_partie_privee-btn-rejoindre").trigger("click");
                {% endif %}

            });

        </script>
    {% endblock %}