{% extends "base_front.html" %}

<!-- titre -->
{% block title %}BetLudo{% endblock %}

<!-- meta -->
{% block meta-description %}"Gagnez de l'argent en interagissant efficacement avec du contenu publicitaire de qualité sur Benepub. Inscrivez-vous dès maintenant pour profiter de nos campagnes publicitaires efficaces !"{% endblock %}

{% block meta-og-title %}"BetLudo"{% endblock %}
{% block meta-og-url %}"{{ request.scheme }}://{{ request.META.HTTP_HOST }}"{% endblock %}
{% block meta-og-image %} "https://www.benepub.com{{ costum_parallax }}" {% endblock %}
{% block meta-og-description %} "Gagnez de l'argent en interagissant efficacement avec du contenu publicitaire de qualité sur Benepub. Inscrivez-vous dès maintenant pour profiter de nos campagnes publicitaires efficaces !"{% endblock %}

<!-- load static -->
{% load static %}
<!---->

<!-- MainContent -->



<!--  -->