{% load i18n %}
<!doctype html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}BetLudo{% endblock %}</title>

        <!-- opengraph -->
        <meta property="og:title" content={% block meta-og-title %} "Titre Benepub" {% endblock %}>
        <meta property="og:type" content="website">
        <meta property="og:url" content={% block meta-og-url %} "https://www.benepub.com{{ request.get_full_path }}" {% endblock %}>
        <meta property="og:image" content={% block meta-og-image %} "https://www.benepub.com{{ costum_parallax }}" {% endblock %}>
        <meta property="og:description" content={% block meta-og-description %} "Description page Benepub"{% endblock %}>
        <meta property="og:video" content={% block meta-og-video %} "" {% endblock %}>
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="Balise META">
        <!--  -->


        <link rel="shortcut icon" href="{% static 'front/images/fav.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'front/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/plugin/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/plugin/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/plugin/slick.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/ara-font.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/plugin/animate.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/style.css' %}">
    </head>

    <body class="error-section">
        <!-- start preloader -->
        <div class="preloader" id="preloader"></div>

        <section>
            <div class="overlay pt-120 pb-120">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-7">
                            <div class="section-area pt-120 pb-120 text-center mb-50">

                                {% block body %}
   
                                    <div class="img-box mb-30">
                                        <img src="{% static 'front/images/icon/facebook.png' %}" alt="Image">
                                    </div>
                                    <h3 class="title"></h3>
                                    {% if messages %}
                                        <div class="mb-20">
                                            <ul>
                                                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {% block content %}
                                    {% endblock content %}
                                {% endblock body %}
                                {% block extra_body %}
                                {% endblock extra_body %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Sélectionne tous les boutons de la page
            var buttons = document.querySelectorAll("button");

            // Parcourt chaque bouton et ajoute la classe 'xxx'
            buttons.forEach(function(button) {
                button.classList.add("cmn-btn");
            });

            var h1Elements = document.querySelectorAll("h1");

            // Parcourir chaque <h1> et le transformer en <h3>
            h1Elements.forEach(function(h1) {
                // Créer un nouvel élément <h3>
                var h3 = document.createElement("h3");

                // Copier le contenu de <h1> dans le nouveau <h3>
                h3.innerHTML = h1.innerHTML;

                // Ajouter la classe "title" à <h3>
                h3.classList.add("title");

                // Remplacer l'ancien <h1> par le nouveau <h3>
                h1.parentNode.replaceChild(h3, h1);
            });
        });
    </script>
    
    <style>
        /* Styles CSS pour personnaliser le bouton */
        .login-container {
            text-align: center;
            margin-top: 50px;
        }
        
        .facebook-login-button {
            display: inline-block;
            background-color: #3b5998;
            color: white;
            padding: 15px 30px;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
        }
        
        .facebook-login-button:hover {
            background-color: #2d4373;
        }

        .facebook-logo {
            height: 20px;
            vertical-align: middle;
            margin-right: 10px;
        }

        .cmn-btn {
            background-color: transparent;
        }
 
        .error-section {
            background-size: auto;
        }

        .error-section .cmn-btn i {
            transform: none;
            margin-right: 10px;
        }
    </style>

    <!--==================================================================-->
    {% block script %}
    <script src="{% static 'front/js/jquery.min.js' %}"></script>
    <script src="{% static 'front/js/jquery-ui.js' %}"></script>
    <script src="{% static 'front/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/fontawesome.js' %}"></script>
    <script src="{% static 'front/js/plugin/slick.js' %}"></script>
    <script src="{% static 'front/js/plugin/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'front/js/plugin/counter.js"></script>
    <script src="{% static 'front/js/plugin/jquery.downCount.js' %}"></script>
    <script src="{% static 'front/js/plugin/waypoint.min.js' %}"></script>
    <script src="{% static 'front/js/plugin/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'front/js/plugin/wow.min.js' %}"></script>
    <script src="{% static 'front/js/plugin/plugin.js' %}"></script>
    <script src="{% static 'front/js/main.js' %}"></script>
    {% endblock %}
    </body>
</html>
