{% extends "base_player.html" %}

<!-- titre -->
{% block title %}BetLudo{% endblock %}

<!-- meta -->
{% block meta-description %}"Gagnez de l'argent en interagissant efficacement avec du contenu publicitaire de qualité sur Benepub. Inscrivez-vous dès maintenant pour profiter de nos campagnes publicitaires efficaces !"{% endblock %}

<!-- load static -->
{% load static %}
<!---->
{% load socialaccount %}
{% load humanize %}
{% load player_extras %}

<!-- MainContent -->


    <!-- Dashboard Section start -->
{% block content %}
    <section class="dashboard-section body-collapse">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="row">
                    <ul class="nav mb-40 dashboard-nav" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="balance-tab" data-bs-toggle="tab" data-bs-target="#balance" type="button"
                                role="tab" aria-controls="balance" aria-selected="true">Mes parties</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="deposit-tab" data-bs-toggle="tab" data-bs-target="#deposit" type="button"
                                role="tab" aria-controls="deposit" aria-selected="false">Dépôt</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="withdraw-tab" data-bs-toggle="tab" data-bs-target="#withdraw" type="button"
                                role="tab" aria-controls="withdraw" aria-selected="false">Retrait</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="transaction-tab" data-bs-toggle="tab" data-bs-target="#transaction"
                                type="button" role="tab" aria-controls="transaction" aria-selected="false">Mes transactions</button>
                        </li>
                    </ul>
                    <div class="tab-content p-0">
                        <div class="tab-pane fade show active" id="balance" role="tabpanel" aria-labelledby="balance-tab">
                            <div class="transaction-box">
                                <div class="top-filter d-flex align-items-end d-none">
                                    <div class="single-filter">
                                        <p>Month</p>
                                        <input type="text" placeholder="2023/01">
                                    </div>
                                    <div class="single-filter">
                                        <p>Type</p>
                                        <select>
                                            <option value="0">All</option>
                                            <option value="1">Type 1</option>
                                            <option value="2">Type 2</option>
                                            <option value="3">Type 3</option>
                                        </select>
                                    </div>
                                    <div class="single-filter">
                                        <p>Currency</p>
                                        <select>
                                            <option value="0">All</option>
                                            <option value="1">Currency 1</option>
                                            <option value="2">Currency 2</option>
                                            <option value="3">Currency 3</option>
                                        </select>
                                    </div>
                                    <div class="single-btn">
                                        <button class="cmn-btn">Filter</button>
                                    </div>
                                </div>
                                <div class="table-responsive mt-0">
                                    <table class="table"  style="width:100%">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date/Heure</th>
                                                <th scope="col">Partie</th>
                                                <th scope="col">Mise ({{ config.currency|default:'FCFA' }})</th>
                                                <th scope="col">Gains ({{ config.currency|default:'FCFA' }})</th>
                                                <th scope="col">Résultat</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for participation in participations %}
                                            <tr>
                                                <th scope="row" data-order="{{ participation.date_creation|date:'U' }}">
                                                    <p>{{ participation.date_creation|date:"d-m-Y H:i:s" }}</p>
                                                </th>
                                                <td data-order="{{ participation.partie.nombre_participants }}">
                                                    <p>{% if participation.partie.nombre_participants > 2 %} {{ participation.partie.nombre_participants }} joueurs {% else %} 1 contre 1 {% endif %}</p>
                                                </td>
                                                <td data-order="{{ participation.partie.montant_mise }}">
                                                    <p>{{ participation.partie.montant_mise|floatformat:-2|intcomma }}</p>
                                                </td>
                                                <td data-order="{{ participation.partie.montant_cagnotte }}">
                                                    <p>{{ participation.partie.montant_cagnotte|floatformat:-2|intcomma }}</p>
                                                </td>
                                                <td>
                                                    <p class="fw-bold text-{% participation_state participation.id 'couleur' %}">{% participation_state participation.id 'libelle' %}</p>
                                                </td>
											</tr> 
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="deposit" role="tabpanel" aria-labelledby="deposit-tab">
                            <div class="deposit-box">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="deposit-currency">
                                            <div class="balance-area">
                                                <div class="single-area d-none">
                                                    <p>Deposit Currency</p>
                                                    <select>
                                                        <option>Select Currency</option>
                                                        <option value="1">EUR</option>
                                                        <option value="2">ETH</option>
                                                        <option value="3">USD</option>
                                                    </select>
                                                </div>
                                                <div class="single-area">
                                                    <p>Solde</p>
                                                    <h6 class="m-0">{{ solde|floatformat:-2|intcomma }} {{ config.currency|default:'FCFA' }}</h6>
                                                </div>
                                            </div>
                                            <div class="first-deposit-bonus mt-30 mb-30 d-none">
                                                <div class="head-area d-flex justify-content-between">
                                                    <h6 class="m-0">First Deposit Bonus</h6>
                                                    <a href="javascript:void(0)">More</a>
                                                </div>
                                                <div class="deposit-bonus-content mt-1 d-flex align-items-center d-none">
                                                    <div class="item-single">
                                                        <h5>$30(or above to get bonus)</h5>
                                                        <p class="mdr">≈ 0.01664502 ETH</p>
                                                    </div>
                                                    <div class="item-single d-flex align-items-center justify-content-center">
                                                        <img src="{% static 'dashboard/images/icon/coin.png' %}" alt="icon">
                                                        <p>+80%Bonus</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="payment-system d-none">
                                                <div class="head-area mb-2 d-flex justify-content-between">
                                                    <h6 class="m-0">Select Payment System</h6>
                                                </div>
                                                <div class="payment-processor d-flex flex-wrap cus-mar">
                                                    <div class="single-box active">
                                                        <img src="{% static 'dashboard/images/payment-1.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-2.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-3.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-4.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-5.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-6.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-7.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-8.png' %}" alt="icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="deposit-amount mb-10">
                                            <h5>Faire un dépôt</h5>
                                            <!-- <p>Montant minimum : 500 FCFA <span class="mdr d-none">Instant | Min: 5 • Max: 6,000</span></p> -->
                                            <ul class="quick-value d-none">
                                                <li><h5>25</h5></li>
                                                <li><h5 class="active">50</h5></li>
                                                <li><h5>100</h5></li>
                                                <li><h5>200</h5></li>
                                                <li><h5>500</h5></li>
                                            </ul>
                                        </div>
                                        <form action="#">
                                            <div class="col-12">
                                                <div class="single-input">
                                                    <label for="dAmount">Montant</label>
                                                    <input type="hidden" id="recharge-input-url" class="d-none" value="{% url 'player:player_rechargement' 'complement_url_recharge' %}">
                                                    <input type="text" class="money_field" id="recharge-input" placeholder="Entre le montant ici" data-minimum_depot="{{ minimum_depot }}" autocomplete="off" value="">
                                                </div>
                                                <div class="single-input d-none">
                                                    <label for="dEmail">Email</label>
                                                    <input type="text" id="dEmail" placeholder="Enter neteller  email address" autocomplete="off">
                                                </div>
                                                <div class="btn-area text-center mt-3">
                                                    <a class="cmn-btn w-100 d-none" id="recharge-button">Déposer</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="withdraw" role="tabpanel" aria-labelledby="withdraw-tab">
                            <div class="deposit-box">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="deposit-currency">
                                            <div class="balance-area">
                                                <div class="single-area d-none">
                                                    <p>Deposit Currency</p>
                                                    <select>
                                                        <option>Select Currency</option>
                                                        <option value="1">EUR</option>
                                                        <option value="2">ETH</option>
                                                        <option value="3">USD</option>
                                                    </select>
                                                </div>
                                                <div class="single-area">
                                                    <p>Solde</p>
                                                    <h6 class="m-0">{{ solde|floatformat:-2|intcomma }} {{ config.currency|default:'FCFA' }}</h6>
                                                    <p class="text-warning">Le montant minimum de retrait est de {{ minimum_retrait|floatformat:-2|intcomma }}  {{ config.currency|default:'FCFA' }}.</p>
                                                </div>
                                            </div>
                                            <div class="first-deposit-bonus mt-30 mb-30 d-none">
                                                <div class="head-area d-flex justify-content-between">
                                                    <h6 class="m-0">First Deposit Bonus</h6>
                                                    <a href="javascript:void(0)">More</a>
                                                </div>
                                                <div class="deposit-bonus-content mt-1 d-flex align-items-center d-none">
                                                    <div class="item-single">
                                                        <h5>$30(or above to get bonus)</h5>
                                                        <p class="mdr">≈ 0.01664502 ETH</p>
                                                    </div>
                                                    <div class="item-single d-flex align-items-center justify-content-center">
                                                        <img src="{% static 'dashboard/images/icon/coin.png' %}" alt="icon">
                                                        <p>+80%Bonus</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="payment-system d-none">
                                                <div class="head-area mb-2 d-flex justify-content-between">
                                                    <h6 class="m-0">Select Payment System</h6>
                                                </div>
                                                <div class="payment-processor d-flex flex-wrap cus-mar">
                                                    <div class="single-box active">
                                                        <img src="{% static 'dashboard/images/payment-1.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-2.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-3.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-4.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-5.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-6.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-7.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-8.png' %}" alt="icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if solde >= minimum_retrait %}
                                    <div class="col-xl-6">
                                        <div class="deposit-amount mb-10">
                                           {% if messages %}
                                                <ul class="messages text-warning">
                                                    {% for message in messages %}
                                                        <li class="{{ message.tags }} text-warning">{{ message }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            <h5>Faire un retrait</h5>
                                            <span><i>Remplis ce formulaire correctement pour faire un retrait !</i></span> 
                                            <ul class="quick-value d-none">
                                                <li><h5>25</h5></li>
                                                <li><h5 class="active">50</h5></li>
                                                <li><h5>100</h5></li>
                                                <li><h5>200</h5></li>
                                                <li><h5>500</h5></li>
                                            </ul>
                                        </div>
                                        <form action="#" id="retrait-form">
                                            <div class="col-12">
                                                <div class="single-input">
                                                    <label for="dAmount">Pays</label>
                                                    <select class="choix_pays_retrait" name="choix_pays_retrait" id="choix_pays_retrait" required>
                                                            <option value="">Choisis le pays de ton canal de retrait </option>
                                                            <option value="229;8">Bénin</option>
                                                            <option value="226;8">Burkina Faso</option>
                                                            <option value="225;10" selected>Côte d'Ivoire</option>
                                                            <option value="223;8">Mali</option>
                                                            <option value="221;9">Sénégal</option>
                                                            <option value="228;8">Togo</option>
                                                    </select>
                                                </div> 
                                                <div class="single-input">
                                                    <label for="dAmount">Canal de retrait</label>
                                                    <select class="choix_canal_retrait" name="choix_canal_retrait" id="choix_canal_retrait" required>
                                                            <option value="">Choisis ton canal de retrait </option>
                                                            <option value="telecom" selected>Mobile money (Orange, MTN, Moov et autres)</option>
                                                            <option value="WAVECI">Wave Côte d'Ivoire</option>
                                                            <option value="WAVESN">Wave Sénégal</option>
                                                    </select>
                                                 </div>
                                                <div class="single-input">
                                                    <label for="dEmail">Contact</label>
                                                    <input class="retrait_input_class contact" type="tel" id="contact-retrait" placeholder="Entre ton numero" autocomplete="off" required>
                                                </div>   
                                                <div class="single-input">
                                                    <label for="dEmail">Email</label>
                                                    <input class="retrait_input_class" type="email" id="email-retrait" placeholder="Entre ton adresse mail" autocomplete="off" email="{{ profil.email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" required>
                                                </div>       
                                                <div class="single-input">
                                                    <label for="dAmount">Montant</label>
                                                    <input type="hidden" id="retrait-input-url" class="d-none" value="{% url 'player:player_retrait' 'complement_pays' 'complement_canal' 'complement_contact' 'complement_montant' 'complement_email' %}">
                                                    <input type="text" class="money_field retrait_input_class" id="retrait-input" placeholder="Entre le montant ici" autocomplete="off" value="" 
                                                    data-minimum_depot="{{ minimum_depot }}" data-minimum_retrait="{{ minimum_retrait|floatformat:-2|intcomma }}" data-solde="{{ solde|floatformat:-2|intcomma }}" required>
                                                    {% comment %} <input type="text" class="money_field" id="dAmount" placeholder="Entrer Montant" value="500" autocomplete="off"> {% endcomment %}
                                                </div>
                                                <p class="text-warning">Le montant minimum de retrait est de {{ minimum_retrait|floatformat:-2|intcomma }}  {{ config.currency|default:'FCFA' }}.</p>
                                                <div class="btn-area text-center mt-3">
                                                    <a class="cmn-btn w-100 d-none" id="retrait-button">Retirer</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="transaction" role="tabpanel" aria-labelledby="transaction-tab">
                            <div class="transaction-box">
                                <div class="top-filter d-flex align-items-end d-none">
                                    <div class="single-filter">
                                        <p>Mois</p>
                                        <input type="text" placeholder="01/2024">
                                    </div>
                                    <div class="single-filter">
                                        <p>Type</p>
                                        <select>
                                            <option value="0">Tout</option>
                                            <option value="1">Dépôt</option>
                                            <option value="2">Retrait</option>
                                            <option value="3">Gains</option>
                                            <!-- <option value="4">Retrait</option> -->
                                        </select>
                                    </div>
                                    <div class="single-filter d-none">
                                        <p>Currency</p>
                                        <select>
                                            <option value="0">All</option>
                                            <option value="1">Currency 1</option>
                                            <option value="2">Currency 2</option>
                                            <option value="3">Currency 3</option>
                                        </select>
                                    </div>
                                    <div class="single-btn">
                                        <button class="cmn-btn">Filtrer</button>
                                    </div>
                                </div>
                                 <div class="table-responsive mt-4">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date/Heure</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Montant ({{ config.currency|default:'FCFA' }})</th>
                                                <th scope="col">Etat</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction in transactions %}
                                            <tr>
                                                <th scope="row" data-order="{{ transaction.date_creation|date:'U' }}">
                                                    <p>{{ transaction.date_creation|date:"d-m-Y H:i:s" }}</p>
                                                </th>
                                                <td>
                                                    <p>{{ transaction.type }}</p>
                                                </td>
                                                <td data-order="{{ transaction.montant }}">
                                                    <p {% if transaction.montant > 0 %} class="text-success fw-bold" {% else %} class="text-danger fw-bold" {% endif %}>{{ transaction.montant|floatformat:-2|intcomma }}</p>
                                                </td>
                                                <td>
                                                    <p>{% if transaction.etat_validation %} Terminée {% else %} En cours {% endif %}</p>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" value="{{tab}}" id="tabulation-id">
{% endblock %}
    <!-- Dashboard Section end -->

<!-- javascript -->
{% block script %}
    <!-- parent -->
    {{ block.super }}
    <!-- perso lié a l'interaction  -->
   
    {% if tab %}
    <script>
        $(document).ready(function() {
            $("#"+$("#tabulation-id").val()).trigger("click");
        });
    </script>
    {% endif %}

    <script>
        // box rechargement 
        $(document).on("change keyup", "#recharge-input", function(e) {
            console.log(e.handleObj.type);
            // console.log($(this)); // Utilisation correcte de $(this) pour faire référence à l'élément cliqué
            let valeur_input_recharge = Number(String($("#recharge-input").val()).replace(/\s/g, ''));
            let minimum_depot = Number(String($("#recharge-input").data('minimum_depot')).replace(/\s/g, ''));
            let base_url_recharge = $("#recharge-input-url").val();

            $("#recharge-button").removeClass("d-none");
            $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
            $("#recharge-button").show();

            let check = multipleSuperieur(valeur_input_recharge, minimum_depot);
            if(valeur_input_recharge != check){
                if(e.handleObj.type == "change"){
                    $("#recharge-input").val(check);
                    $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
                }
                else{
                    $("#recharge-button").attr("href", "javascript:void(0)");
                    $("#recharge-button").hide();
                }
            }
            else{
                $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
                $("#recharge-button").show();
            }
        });


        $('#retrait-form :input').on('change input', function(e) {
            let form = $('#retrait-form');
            let form_validity = $(form)[0].checkValidity();
            console.log(form_validity);
            $("#retrait-button").removeClass("d-none");
            // $("#recharge-button").attr("href", base_url_retrait.replace("complement_url_retrait", String($("#retrait-input").val()).replace(/\s/g, '')));            
            $("#retrait-button").show();
            if(form_validity){
                let choix_pays_retrait = $(".choix_pays_retrait>ul>li.selected").data('value').split(';');
                let indicatif = String(choix_pays_retrait[0]).replace(/\s/g, '');
                let lg_contact = Number(String(choix_pays_retrait[1]).replace(/\s/g, ''));
                let canal = $(".choix_canal_retrait>ul>li.selected").data('value');
                // a checker
                let contact = String($("#contact-retrait").val());
                let email = $("#email-retrait").val();
                // a checker
                let valeur_input_retrait = Number(String($("#retrait-input").val()).replace(/\s/g, ''));
                let minimum_retrait = Number(String($("#retrait-input").data('minimum_retrait')).replace(/\s/g, ''));
                let minimum_depot = Number(String($("#retrait-input").data('minimum_depot')).replace(/\s/g, ''));
                let solde = Number(String($("#retrait-input").data('solde')).replace(/\s/g, ''));
                let base_url_retrait = $("#retrait-input-url").val();


                if (contact.length != lg_contact || minimum_retrait >= solde || valeur_input_retrait >= solde || valeur_input_retrait < minimum_retrait || valeur_input_retrait == 0) {
                    $("#retrait-button").attr("href", "javascript:void(0)");
                    $("#retrait-button").hide();
                } else {

                    let check = multipleInferieur(valeur_input_retrait, minimum_depot);
                    if(valeur_input_retrait != check){
                        if(e.currentTarget.id == "retrait-input" && e.handleObj.type == "change"){
                            $("#retrait-input").val(check);
                            $("#retrait-button").attr("href", 
                            base_url_retrait
                            .replace("complement_pays", String(indicatif).replace(/\s/g, ''))
                            .replace("complement_canal", String(canal).replace(/\s/g, ''))
                            .replace("complement_contact", String(contact).replace(/\s/g, ''))
                            .replace("complement_montant", String($("#retrait-input").val()).replace(/\s/g, ''))
                            .replace("complement_email", String(email).replace(/\s/g, ''))
                            );
                        }
                        else{
                            $("#retrait-button").attr("href", "javascript:void(0)");
                            $("#retrait-button").hide();
                        }
                    }
                    else{
                        $("#retrait-button").attr("href", 
                        base_url_retrait
                        .replace("complement_pays", String(indicatif).replace(/\s/g, ''))
                        .replace("complement_canal", String(canal).replace(/\s/g, ''))
                        .replace("complement_contact", String(contact).replace(/\s/g, ''))
                        .replace("complement_montant", String($("#retrait-input").val()).replace(/\s/g, ''))
                        .replace("complement_email", String(email).replace(/\s/g, ''))
                        );
                        $("#retrait-button").show();    
                    }   // errorContactMessage.hide(); // Cache le message d'erreur si l'entrée est correcte
                }
            }
            else{
                $("#retrait-button").attr("href", "javascript:void(0)");
                $("#retrait-button").hide();
            }
        });
     

        // masque sur telephone
        $(".contact").inputmask({
            mask: "9{1,15}", // Masque qui accepte 15 chiffres (ajustez selon vos besoins)
            placeholder: "", // Placeholder vide pour ne pas afficher les symboles du masque
            showMaskOnHover: false, // Ne pas montrer le masque au survol
            showMaskOnFocus: false // Ne pas montrer le masque lorsqu'on clique sur le champ
        });
    </script>
{% endblock %}    
<!-- javascript end -->
