{% extends "base_player.html" %}

<!-- titre -->
{% block title %}BetLudo{% endblock %}

<!-- meta -->
{% block meta-description %}"Gagnez de l'argent en interagissant efficacement avec du contenu publicitaire de qualité sur Benepub. Inscrivez-vous dès maintenant pour profiter de nos campagnes publicitaires efficaces !"{% endblock %}

<!-- load static -->
{% load static %}
<!---->
{% load socialaccount %}
{% load humanize %}
{% load player_extras %}

<!-- MainContent -->


    <!-- Dashboard Section start -->
{% block content %}
    <section class="dashboard-section body-collapse">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="row">
                    <ul class="nav mb-40 dashboard-nav" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="balance-tab" data-bs-toggle="tab" data-bs-target="#balance" type="button"
                                role="tab" aria-controls="balance" aria-selected="true">Mes parties</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="deposit-tab" data-bs-toggle="tab" data-bs-target="#deposit" type="button"
                                role="tab" aria-controls="deposit" aria-selected="false">Dépôt</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="withdraw-tab" data-bs-toggle="tab" data-bs-target="#withdraw" type="button"
                                role="tab" aria-controls="withdraw" aria-selected="false">Retrait</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="transaction-tab" data-bs-toggle="tab" data-bs-target="#transaction"
                                type="button" role="tab" aria-controls="transaction" aria-selected="false">Mes transactions</button>
                        </li>
                    </ul>
                    <div class="tab-content p-0">
                        <div class="tab-pane fade show active" id="balance" role="tabpanel" aria-labelledby="balance-tab">
                            <div class="transaction-box">
                                <div class="top-filter d-flex align-items-end d-none">
                                    <div class="single-filter">
                                        <p>Month</p>
                                        <input type="text" placeholder="2023/01">
                                    </div>
                                    <div class="single-filter">
                                        <p>Type</p>
                                        <select>
                                            <option value="0">All</option>
                                            <option value="1">Type 1</option>
                                            <option value="2">Type 2</option>
                                            <option value="3">Type 3</option>
                                        </select>
                                    </div>
                                    <div class="single-filter">
                                        <p>Currency</p>
                                        <select>
                                            <option value="0">All</option>
                                            <option value="1">Currency 1</option>
                                            <option value="2">Currency 2</option>
                                            <option value="3">Currency 3</option>
                                        </select>
                                    </div>
                                    <div class="single-btn">
                                        <button class="cmn-btn">Filter</button>
                                    </div>
                                </div>
                                <div class="table-responsive mt-0">
                                    <table class="table"  style="width:100%">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date/Heure</th>
                                                <th scope="col">Partie</th>
                                                <th scope="col">Mise ({{ config.currency|default:'FCFA' }})</th>
                                                <th scope="col">Gains ({{ config.currency|default:'FCFA' }})</th>
                                                <th scope="col">Résultat</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for participation in participations %}
                                            <tr>
                                                <th scope="row" data-order="{{ participation.date_creation|date:'U' }}">
                                                    <p>{{ participation.date_creation|date:"d-m-Y H:i:s" }}</p>
                                                </th>
                                                <td data-order="{{ participation.partie.nombre_participants }}">
                                                    <p>{% if participation.partie.nombre_participants > 2 %} {{ participation.partie.nombre_participants }} joueurs {% else %} 1 contre 1 {% endif %}</p>
                                                </td>
                                                <td data-order="{{ participation.partie.montant_mise }}">
                                                    <p>{{ participation.partie.montant_mise|floatformat:-2|intcomma }}</p>
                                                </td>
                                                <td data-order="{{ participation.partie.montant_cagnotte }}">
                                                    <p>{{ participation.partie.montant_cagnotte|floatformat:-2|intcomma }}</p>
                                                </td>
                                                <td>
                                                    <p class="fw-bold text-{% participation_state participation.id 'couleur' %}">{% participation_state participation.id 'libelle' %}</p>
                                                </td>
											</tr> 
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="deposit" role="tabpanel" aria-labelledby="deposit-tab">
                            <div class="deposit-box">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="deposit-currency">
                                            <div class="balance-area">
                                                <div class="single-area d-none">
                                                    <p>Deposit Currency</p>
                                                    <select>
                                                        <option>Select Currency</option>
                                                        <option value="1">EUR</option>
                                                        <option value="2">ETH</option>
                                                        <option value="3">USD</option>
                                                    </select>
                                                </div>
                                                <div class="single-area">
                                                    <p>Solde</p>
                                                    <h6 class="m-0">{{ solde|floatformat:-2|intcomma }} {{ config.currency|default:'FCFA' }}</h6>
                                                </div>
                                            </div>
                                            <div class="first-deposit-bonus mt-30 mb-30 d-none">
                                                <div class="head-area d-flex justify-content-between">
                                                    <h6 class="m-0">First Deposit Bonus</h6>
                                                    <a href="javascript:void(0)">More</a>
                                                </div>
                                                <div class="deposit-bonus-content mt-1 d-flex align-items-center d-none">
                                                    <div class="item-single">
                                                        <h5>$30(or above to get bonus)</h5>
                                                        <p class="mdr">≈ 0.01664502 ETH</p>
                                                    </div>
                                                    <div class="item-single d-flex align-items-center justify-content-center">
                                                        <img src="{% static 'dashboard/images/icon/coin.png' %}" alt="icon">
                                                        <p>+80%Bonus</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="payment-system d-none">
                                                <div class="head-area mb-2 d-flex justify-content-between">
                                                    <h6 class="m-0">Select Payment System</h6>
                                                </div>
                                                <div class="payment-processor d-flex flex-wrap cus-mar">
                                                    <div class="single-box active">
                                                        <img src="{% static 'dashboard/images/payment-1.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-2.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-3.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-4.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-5.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-6.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-7.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-8.png' %}" alt="icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="deposit-amount mb-10">
                                            <h5>Faire un dépôt</h5>
                                            <!-- <p>Montant minimum : 500 FCFA <span class="mdr d-none">Instant | Min: 5 • Max: 6,000</span></p> -->
                                            <ul class="quick-value d-none">
                                                <li><h5>25</h5></li>
                                                <li><h5 class="active">50</h5></li>
                                                <li><h5>100</h5></li>
                                                <li><h5>200</h5></li>
                                                <li><h5>500</h5></li>
                                            </ul>
                                        </div>
                                        <form action="#">
                                            <div class="col-12">
                                                <div class="single-input">
                                                    <label for="dAmount">Montant</label>
                                                    <input type="hidden" id="recharge-input-url" class="d-none" value="{% url 'player:player_rechargement' 'complement_url_recharge' %}">
                                                    <input type="text" class="money_field" id="recharge-input" placeholder="Entre le montant ici" data-minimum_depot="{{ config.minimum_depot|default:100 }}" autocomplete="off" value="">
                                                </div>
                                                <div class="single-input d-none">
                                                    <label for="dEmail">Email</label>
                                                    <input type="text" id="dEmail" placeholder="Enter neteller  email address" autocomplete="off">
                                                </div>
                                                <div class="btn-area text-center mt-3">
                                                    <a class="cmn-btn w-100 d-none" id="recharge-button">Déposer</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="withdraw" role="tabpanel" aria-labelledby="withdraw-tab">
                            <div class="deposit-box">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="deposit-currency">
                                            <div class="balance-area">
                                                <div class="single-area d-none">
                                                    <p>Deposit Currency</p>
                                                    <select>
                                                        <option>Select Currency</option>
                                                        <option value="1">EUR</option>
                                                        <option value="2">ETH</option>
                                                        <option value="3">USD</option>
                                                    </select>
                                                </div>
                                                <div class="single-area">
                                                    <p>Solde</p>
                                                    <h6 class="m-0">{{ solde|floatformat:-2|intcomma }} {{ config.currency|default:'FCFA' }}</h6>
                                                </div>
                                            </div>
                                            <div class="first-deposit-bonus mt-30 mb-30 d-none">
                                                <div class="head-area d-flex justify-content-between">
                                                    <h6 class="m-0">First Deposit Bonus</h6>
                                                    <a href="javascript:void(0)">More</a>
                                                </div>
                                                <div class="deposit-bonus-content mt-1 d-flex align-items-center d-none">
                                                    <div class="item-single">
                                                        <h5>$30(or above to get bonus)</h5>
                                                        <p class="mdr">≈ 0.01664502 ETH</p>
                                                    </div>
                                                    <div class="item-single d-flex align-items-center justify-content-center">
                                                        <img src="{% static 'dashboard/images/icon/coin.png' %}" alt="icon">
                                                        <p>+80%Bonus</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="payment-system d-none">
                                                <div class="head-area mb-2 d-flex justify-content-between">
                                                    <h6 class="m-0">Select Payment System</h6>
                                                </div>
                                                <div class="payment-processor d-flex flex-wrap cus-mar">
                                                    <div class="single-box active">
                                                        <img src="{% static 'dashboard/images/payment-1.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-2.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-3.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-4.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-5.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-6.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-7.png' %}" alt="icon">
                                                    </div>
                                                    <div class="single-box">
                                                        <img src="{% static 'dashboard/images/payment-8.png' %}" alt="icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="deposit-amount mb-10">
                                            <h5>Faire un retrait</h5>
                                            <!-- <p>Montant minimum : 500 FCFA <span class="mdr d-none">Instant | Min: 5 • Max: 6,000</span></p> -->
                                            <ul class="quick-value d-none">
                                                <li><h5>25</h5></li>
                                                <li><h5 class="active">50</h5></li>
                                                <li><h5>100</h5></li>
                                                <li><h5>200</h5></li>
                                                <li><h5>500</h5></li>
                                            </ul>
                                        </div>
                                        <form action="#">
                                            <div class="col-12">
                                                <div class="single-input">
                                                    <label for="dAmount">Montant</label>
                                                    <select name="choix_partie_privee" id="choix_partie_privee">
                                                            <option value="">Choisis ton moyen de retrait </option>
                                                            <option value="telecom">Orange / MTN / Moov</option>
                                                            <option value="wave">Wave</option>
                                                    </select>
                                                 </div>        
                                                <div class="single-input">
                                                    <label for="dAmount">Montant</label>
                                                    <input type="hidden" id="retrait-input-url" class="d-none" value="{% url 'player:player_rechargement' 'complement_url_recharge' %}">
                                                    <input type="text" class="money_field" id="dAmount" placeholder="Entrer Montant" value="500" autocomplete="off">
                                                </div>
                                                <div class="single-input d-none">
                                                    <label for="dEmail">Email</label>
                                                    <input type="text" id="dEmail" placeholder="Enter neteller  email address" autocomplete="off">
                                                </div>
                                                <div class="btn-area text-center mt-3">
                                                    <a class="cmn-btn w-100 d-none">Retirer</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="transaction" role="tabpanel" aria-labelledby="transaction-tab">
                            <div class="transaction-box">
                                <div class="top-filter d-flex align-items-end d-none">
                                    <div class="single-filter">
                                        <p>Mois</p>
                                        <input type="text" placeholder="01/2024">
                                    </div>
                                    <div class="single-filter">
                                        <p>Type</p>
                                        <select>
                                            <option value="0">Tout</option>
                                            <option value="1">Dépôt</option>
                                            <option value="2">Retrait</option>
                                            <option value="3">Gains</option>
                                            <!-- <option value="4">Retrait</option> -->
                                        </select>
                                    </div>
                                    <div class="single-filter d-none">
                                        <p>Currency</p>
                                        <select>
                                            <option value="0">All</option>
                                            <option value="1">Currency 1</option>
                                            <option value="2">Currency 2</option>
                                            <option value="3">Currency 3</option>
                                        </select>
                                    </div>
                                    <div class="single-btn">
                                        <button class="cmn-btn">Filtrer</button>
                                    </div>
                                </div>
                                 <div class="table-responsive mt-4">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date/Heure</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Montant ({{ config.currency|default:'FCFA' }})</th>
                                                <th scope="col">Etat</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction in transactions %}
                                            <tr>
                                                <th scope="row" data-order="{{ transaction.date_creation|date:'U' }}">
                                                    <p>{{ transaction.date_creation|date:"d-m-Y H:i:s" }}</p>
                                                </th>
                                                <td>
                                                    <p>{{ transaction.type }}</p>
                                                </td>
                                                <td data-order="{{ transaction.montant }}">
                                                    <p {% if transaction.montant > 0 %} class="text-success fw-bold" {% else %} class="text-danger fw-bold" {% endif %}>{{ transaction.montant|floatformat:-2|intcomma }}</p>
                                                </td>
                                                <td>
                                                    <p>{% if transaction.etat_validation %} Terminée {% else %} En cours {% endif %}</p>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" value="{{tab}}" id="tabulation-id">
{% endblock %}
    <!-- Dashboard Section end -->

<!-- javascript -->
{% block script %}
    <!-- parent -->
    {{ block.super }}
    <!-- perso lié a l'interaction  -->
   
    {% if tab %}
    <script>
        $(document).ready(function() {
            $("#"+$("#tabulation-id").val()).trigger("click");
        });
    </script>
    {% endif %}

    <script>
        // box rechargement 
        $(document).on("change keyup", "#recharge-input", function(e) {
            console.log(e.handleObj.type);
            // console.log($(this)); // Utilisation correcte de $(this) pour faire référence à l'élément cliqué
            valeur_input_recharge = Number(String($("#recharge-input").val()).replace(/\s/g, ''));
            let minimum_depot = Number(String($("#recharge-input").data('minimum_depot')).replace(/\s/g, ''));
            let base_url_recharge = $("#recharge-input-url").val();

            $("#recharge-button").removeClass("d-none");
            $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
            $("#recharge-button").show();

            let check = multipleSuperieur(valeur_input_recharge, minimum_depot);
            if(valeur_input_recharge != check){
                if(e.handleObj.type == "change"){
                    $("#recharge-input").val(check);
                    $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
                }
                else{
                    $("#recharge-button").attr("href", "javascript:void(0)");
                    $("#recharge-button").hide();
                }
            }
            else{
                $("#recharge-button").attr("href", base_url_recharge.replace("complement_url_recharge", String($("#recharge-input").val()).replace(/\s/g, '')));
                $("#recharge-button").show();
            }
        });
    </script>
{% endblock %}    
<!-- javascript end -->
