{% extends "base_player.html" %}

<!-- titre -->
{% block title %}BetLudo{% endblock %}

<!-- meta -->
{% block meta-description %}"Gagnez de l'argent en interagissant efficacement avec du contenu publicitaire de qualité sur Benepub. Inscrivez-vous dès maintenant pour profiter de nos campagnes publicitaires efficaces !"{% endblock %}

<!-- load static -->
{% load static %}
<!---->

    <!-- Dashboard Section start -->
{% block content %}
    <section class="dashboard-section profile body-collapse">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="information">
                            <div class="single-input-box">
                                <div class="head-area">
                                    <h5>Infos Personnelles</h5>
                                    <a href="javascript:void(0)"><img src="{% static 'dashboard/images/icon/edit.png' %}" alt="icon"></a>
                                </div>
                                <form id="form-profil" class="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %} {{ form.non_field_errors }}
                                    <div class="row justify-content-center">
                                        <div class="col-md-4">
                                            <div class="single-input">
                                                <label for="nom">{{form.nom.label}} <span class="text-danger">*</span></label>
                                                {{ form.nom }}
                                                <div class="text-danger">
                                                    {{ form.nom.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-input">
                                                <label for="prenom">{{form.prenom.label}} <span class="text-danger">*</span></label>
                                                {{ form.prenom }}
                                                <div class="text-danger">
                                                    {{ form.prenom.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-input">
                                                <label for="genre">{{form.genre.label}} </label>
                                                {{ form.genre }}
                                                <div class="text-danger">
                                                    {{ form.genre.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-input">
                                                <label for="contact">{{form.contact.label}} </label>
                                                <div class="">{{form.contact}}</div>
                                                <div class="text-danger">
                                                    {{ form.contact.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-input">
                                                <label for="email">{{form.email.label}} </label>
                                                {{ form.email }}
                                                <div class="text-danger">
                                                    {{ form.email.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                        {% if profil.invite_par is None %}
                                            <div class="single-input">
                                                <label for="code_invite_par">{{form.code_invite_par.label}} </label>
                                                {{ form.code_invite_par }}
                                                <div class="text-danger">
                                                    {{ form.code_invite_par.errors }}
                                                </div>
                                            </div>
                                        {% else %}
                                            <p><i>Invité par <b>{{ profil.invite_par.code }}.</b></i></p>
                                        {% endif %}
                                        </div>
                                        
                                        <div class="btn-area text-center mb-3">
                                            <button type="submit" class="cmn-btn w-100" id="submit-profil-button">Modifier</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
    <!-- Dashboard Section end -->

<!-- javascript -->
{% block script %}
<!-- parent -->
{{ block.super }}
<!-- JS perso  -->
<script>
    $(document).ready(function() {

        //checkFields(); //pour la modification d'utilisateur

        $("#submit-profil-button").fadeOut("slow");
        var $form = $('#form-profil');
        origForm = $form.serialize();

        //on peut soumettre le formulaire uniquement quand il y a modification
        $('#form-profil :input').on('change input', function() {
            if($form.serialize() !== origForm && $form[0].checkValidity()){
                $("#submit-profil-button").fadeIn("slow");
            }
            else{
                $("#submit-profil-button").fadeOut("slow");
            }
        });

        //on peut soumettre le formulaire uniquement qunand il y a modification
        $('#form-profil').on('submit', function (e) {
            if($form.serialize() !== origForm){
                return confirm('Êtes-vous sûr(e) de vouloir appliquer cette modification ?');
            }
            else{
                event.preventDefault();
                return false;
            }
        });

    })
</script>
<!-- end -->
{% endblock %}